<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!--设置不缓存页面-->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="lib/layui/css/layui.css">

    <style type="text/css">
        #content{
            width: 100%;
        }
        .layui-form{
            margin-left: 30%;
            margin-top: 5%;
        }
        .layui-footer layui-bg-red{
            margin-bottom: 0%;
        }
        #foot{
            text-align: center;
            margin-top: 20%;
        }
    </style>
</head>
<body>
<div id="app">
    <!-- 头部 -->
    <div id ="head">
        <ul class="layui-nav" style="text-align: right">
            <li class="layui-nav-item">
                <a href="pages/registered.html" id="registered">注册</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改信息</a></dd>
                    <dd><a href="javascript:;">安全管理</a></dd>
                    <dd><a href="javascript:;" id = "exitAndclearSession">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect="">
                <a id="username" href="javascript:;">
                    <i class="layui-icon layui-icon-username" style="font-size: 25px; color: #1E9FFF;"></i>
                </a>
            </li>
        </ul>
    </div>
    <div id="content" >
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input" style="width: 300px">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" style="width:300px">
                </div>
            </div>
            <br/><br/>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="login">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary" style="position: relative;left: 50px">重置</button>
                </div>
            </div>
        </form>
    </div>
    <!--底部-->
    <div id="foot">
        <div class="layui-footer layui-bg-red">
            Copyright ©2019-©2020 LiuDong
        </div>
    </div>
</div>
</body>
<!--js逻辑-->
<script src="lib/layui/layui.js"></script>
<script>
    layui.use(['form', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;

        form.verify({
            pass: [
                /^[\S]{6,12}$/,
                '密码必须6到12位，且不能出现空格'
            ]
        });

        form.on('submit(login)', function (data) {
            var index = layer.msg("登陆中...", {icon: 6, anim: 0}, function () {
            });
            $.ajax({
                url: '/gd/authentication',
                data: JSON.stringify(data.field),
                type: 'POST',
                contentType: 'application/json',
                success: function (res) {
                    if(res.code === 0){
                        sessionStorage.setItem("username",data.field.userName);
                        if(res.msg != "admin"){
                            location.replace('index.html');
                        }else{
                            location.replace('pages/admin.html');
                        }
                    }else{
                        layer.close(index);
                        layer.msg(data.msg,{icon: 6, timeout:1000, anim: 0});
                    }
                },
                error: function (xhr) {
                    console.log(xhr)
                }
            });
            return false;
        });

        //表单输入效果
        $("#app .input-item .layui-input").click(function (e) {
            e.stopPropagation();
            $(this).addClass("layui-input-focus").find(".layui-input").focus();
        })
        $("#app .layui-form-item .layui-input").focus(function () {
            $(this).parent().addClass("layui-input-focus");
        })
        $("#app .layui-form-item .layui-input").blur(function () {
            $(this).parent().removeClass("layui-input-focus");
            if ($(this).val() != '') {
                $(this).parent().addClass("layui-input-active");
            } else {
                $(this).parent().removeClass("layui-input-active");
            }
        })
    });
</script>
</html>